/* corregir nombres */
/* reorganizar (lineas) */
* {
  padding: 0;
  margin: 0;
}

main {
  background-color: #2d2e2e;
  padding: 100px 0px 100px 0px;
  margin: 50px 50px;
}

a {
  color: #2d2e2e;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
}

h1 {
  font-family: "Oswald", sans-serif;
  margin: 200px 200px 300px 200px;
  font-size: 10rem;
  text-align: center;
  color: #2d2e2e;
}

.index-subtitle, .subtitle {
  font-family: "Quicksand", sans-serif;
  font-size: 4rem;
  margin: 0px 100px 100px 100px;
  color: #a9aaab;
  text-align: center;
}

.subtitle {
  margin-top: 20px;
}

footer {
  font-family: "Quicksand", sans-serif;
  padding: 70px 50px 20px 50px;
}
footer h4 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}
footer p {
  font-size: 1.8rem;
}

.logoposition-wpp {
  width: 70px;
  position: fixed;
  top: 850px;
  right: 30px;
}

.nav-position {
  justify-content: end;
}

.navbar-nav {
  margin-right: 40px;
  font-size: 1.5rem;
}

/* CARDS */
.card-text {
  color: #a9aaab;
  font-size: 1.5rem;
}

.cards-fotos {
  margin: 70px 50px 15px 50px;
}

.card-text {
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.card-bmwaudi {
  background-color: transparent;
  border: 0;
  text-align: center;
  height: 815px;
  width: 96%;
}

/* WALLPAPER INTERACTIVO */
body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgb(101, 0, 94) 3%, rgb(60, 132, 206) 38%, rgb(48, 238, 226) 68%, rgb(255, 25, 25) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.wave {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1);
  }
}
.bmw-audi-ico {
  width: 7rem;
  margin-left: 30px;
  margin-top: 20px;
}

.carousel-item-background {
  background: rgba(6, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
  font-family: "Quicksand", sans-serif;
}

.carousel-mg {
  margin-bottom: 60px;
  margin-top: 100px;
}

.img-audibmw {
  width: 80%;
}

.sline-ico {
  width: 9rem;
  margin-left: 5px;
  margin-top: 20px;
}

.foto-grid-audi {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas: "rs3 rs4 rs5" "q2 q3 q5" "tt r8 etron";
  justify-content: center;
  margin: 100px 50px 40px 50px;
}
.foto-grid-audi img {
  width: 425px;
}
.foto-grid-audi h3 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  margin-top: 20px;
  color: #a9aaab;
}

.rs3 {
  grid-area: rs3;
}

.rs4 {
  grid-area: rs4;
}

.rs5 {
  grid-area: rs5;
}

.q2 {
  grid-area: q2;
}

.q3 {
  grid-area: q3;
}

.q5 {
  grid-area: q5;
}

.tt {
  grid-area: tt;
}

.r8 {
  grid-area: r8;
}

.etron {
  grid-area: etron;
}

.m-ico {
  width: 5rem;
  margin-left: 30px;
  margin-top: 20px;
}

.foto-grid-bmw {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas: "m2 m3 m4 m5" "m140i m240i m440i m850i" "x2 x3 x5 x6";
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 100px;
}
.foto-grid-bmw img {
  width: 310px;
}
.foto-grid-bmw h3 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  margin-top: 20px;
  color: #a9aaab;
}

.m2 {
  grid-area: m2;
}

.m3 {
  grid-area: m3;
}

.m4 {
  grid-area: m4;
}

.m5 {
  grid-area: m5;
}

.m140i {
  grid-area: m140i;
}

.m240i {
  grid-area: m240i;
}

.m440i {
  grid-area: m440i;
}

.m850i {
  grid-area: m850i;
}

.x2 {
  grid-area: x2;
}

.x3 {
  grid-area: x3;
}

.x5 {
  grid-area: x5;
}

.x6 {
  grid-area: x6;
}

/* revisar y reorganizar */
.subtitle-rateus {
  font-family: "Quicksand", sans-serif;
  font-size: 4rem;
  margin: 20px 20px 20px 60px;
  color: #a9aaab;
}

.rateus-ico {
  width: 3rem;
  margin-left: 30px;
  margin-top: 20px;
}

.rateus-container {
  display: flex;
  flex-wrap: wrap;
}

.ratings {
  font-family: "Oswald", sans-serif;
  margin-left: 60px;
}

.dropdown {
  margin-bottom: 20px;
}

.dropdown-bg {
  background-color: #a9aaab;
  font-size: 1.5rem;
}

.dropdown-menu {
  background-color: #a9aaab;
}

.dropdown-item {
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
}

.form-floating {
  margin-left: 60px;
  font-family: "Oswald", sans-serif;
  margin-right: 60px;
}

textarea {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.checkbox-email {
  margin: 20px 20px 0px 0px;
}

.send-reset {
  margin-top: 20px;
}

.vw-ico {
  width: 3rem;
  margin-left: 30px;
  margin-top: 20px;
}

.cards-vw {
  background-color: transparent;
  border: 0;
  text-align: center;
  width: 285px;
}

@media only screen and (max-width: 600px) {
  .logoposition-wpp {
    width: 50px;
    top: 870px;
  }
  h1 {
    font-size: 5rem;
    margin: 100px 40px 100px 40px;
  }
  main {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .index-subtitle, .subtitle {
    font-size: 2rem;
    margin: 20px 70px 20px 70px;
  }
  .subtitle-rateus {
    font-size: 2.5rem;
  }
  footer h4 {
    font-size: 3rem;
  }
  footer p {
    font-size: 1.5rem;
  }
  .img-audibmw {
    width: 75%;
  }
  .card-bmwaudi {
    height: 300px;
    width: 260px;
  }
  .card-text {
    font-size: 1rem;
  }
  .foto-grid-audi {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(auto, 9);
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas: "rs3" "rs4" "rs5" "q2" "q3" "q5" "tt" "r8" "etron";
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 100px;
  }
  .foto-grid-audi img {
    width: 260px;
  }
  .foto-grid-audi h3 {
    margin-bottom: 20px;
  }
  .foto-grid-bmw {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(auto, 12);
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas: "m2" "m3" "m4" "m5" "m140i" "m240i" "m440i" "m850i" "x2" "x3" "x5" "x6";
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 100px;
  }
  .foto-grid-bmw img {
    width: 260px;
  }
  .foto-grid-bmw h3 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 991px) {
  .nav-item {
    margin-left: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
