$color_1: black;
$color_2: darkslategray;
$font-family_1: 'Quicksand' , sans-serif;
$font-family_2: 'Oswald' , sans-serif;
$background-color_1: #7580ff;
$background-color_2: transparent;
$background-color_3: #ff787a;