@keyframes desvanecimiento {
    0% {
        opacity: 1;
    }
    15% {
        opacity: 0.75;
    }
    25% {
        opacity: 0.5;
    }
    35% {
        opacity: 0.25;
    }
    50% {
        opacity: 0;
    }
    65% {
        opacity: 0.25;
    }
    75% {
        opacity: 0.5;
    }
    85% {
        opacity: 0.75;
    }
    100%{
        opacity: 1;
    }
}
@keyframes rotacion-360 {
    100% {
        transform: rotate(360deg);
}
}
