@media only screen and (max-width: 600px) {
	.logoposition-wpp {
		width: 50px;
		top: 870px;
	}
	h1 {
		font-size: 5rem;
		margin: 100px 40px 100px 40px;
	}
	main {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.index-subtitle{
		font-size: 2rem;
		margin: 20px 70px 20px 70px;
	}
	.subtitle-rateus {
		font-size: 2.5rem;
	}
	footer {
		h4 {
			font-size: 3rem;
		}
		p {
			font-size: 1.5rem;
		}
	}
	.img-audibmw {
		width: 75%;
	}
	.card-bmwaudi {
		@include sizes (300px , 260px);
	}
	.foto-grid-audi {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: repeat(auto,9);
		gap: 20px 20px;
		grid-auto-flow: row;
		grid-template-areas: "rs3" "rs4" "rs5" "q2" "q3" "q5" "tt" "r8" "etron";
		justify-content: center;
		margin-bottom: 40px;
		margin-top: 100px;
		img {
			width: 260px;
		}
		h3 {
			margin-bottom: 20px;
		}
	}
	.foto-grid-bmw {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: repeat(auto,12);
		gap: 20px 20px;
		grid-auto-flow: row;
		grid-template-areas: "m2" "m3" "m4" "m5" "m140i" "m240i" "m440i" "m850i" "x2" "x3" "x5" "x6";
		justify-content: center;
		margin-bottom: 40px;
		margin-top: 100px;
		img {
			width: 260px;
		}
		h3 {
			margin-bottom: 20px;
		}
	}
}
@media screen and (max-width: 991px) {
	.nav-item {
		margin-left: 30px;
	}
}