.subtitle-rateus {
	font-family: $font-family_1;
	font-size: 4rem;
	margin: 20px 30px 20px 60px;
	color: white;
}
.rateus-ico {
	@include width-mg (3rem , 25px 0px 0px 40px);
	transition: width 1s;
}
.rateus-ico:hover {
	width: 4rem;
}
.rateus-container {
	display: flex;
	flex-wrap: wrap;
}
.ratings {
	font-family: $font-family_2;
	margin-left: 60px;
}
.dropdown {
	margin-bottom: 20px;
}
.dropdown-bg {
	background-color: $blanco;
	font-size: 1.5rem;
}
.dropdown-menu {
	background-color: $blanco;
}
.dropdown-item {
	font-size: 1rem;
	font-family: $font-family_2;
}
.form-floating {
	font-family: $font-family_2;
	margin: 0px 60px 0px 60px;
}
textarea {
	font-size: 1.5rem;
	margin-bottom: 20px;
}
.checkbox-email {
	margin: 20px 20px 0px 0px;
}
.send-reset {
	margin-top: 20px;
}